/.gradle/
/.idea/
/build/
/libs/
/plugins/
/world/
/world_nether/
/banned-ips.txt
/banned-players.txt
/bukkit.yml
/ops.txt
/permissions.yml
/poseidon.yml
/server.log
/server.properties
/uuidcache.json
/white-list.txt
